body{
    background: #e6e6e6;
    
}

/*respinsivo*/
@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }
  }



/*Divs*/



.categoria{
    display: inline-block;
    background: #76b227;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto;    
}



.pedidos{
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto; 
    padding-top: 20px;
    margin-bottom: 20px;
}

.producto{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.pedido{
    display: inline-block;
    vertical-align: middle;    
    text-align: center;
    margin: 0 10px;
    
}

.pedido button{
    font-weight: 900;
    color: white;
    background: #240B3B;
}

.nombre{
    display: inline-block;
    vertical-align: middle;    
    text-align: center;
    margin: 0 10px;
}

.nombre p{
    font-weight: bold;
    color: black;
}

/*Drop*/
  
  .dropdown {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: 4% 4%;
    
  }

  .dropdown-content{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 40%;


  }
  
  
/*Titulos parrafos*/
h1.title{
    font-weight: 900;
    text-align: center;    
}

.categoria p{
    font-weight: 900;
    color: white;    
    font-size: 30px;
}

.titulo label{
    color: white;
    font-weight: 700;    
    width: 60%;

}

/*iconno*/
.icon{
    
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    height: auto;    
}

.icon img{
    
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 25px;
    height: 25px;

}

/*Img*/

.pedidos img{
    width: 300px;
    height: 300px;
    margin: 10px -5px 20px -5px;
}
