body{
    background: #e6e6e6;    
}


/*Divs*/

.padre {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;    
}

.categoria{
    display: inline-block;
    background: #76b227;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto;    
}

.menu{
    margin: 2% 2%;
}


.imagen{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.info{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: #76b227;
    border-radius: 20px;
    width: 60%;
    height: auto;    
    margin: 0 2%;
    padding: 1% 2%;
}

.titulo{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 50%;
}

.dato{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25%;
    font-weight: bold;

}

.pedidos{
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: auto; 
    padding-top: 20px;   
    padding-bottom: 50px; 
}

.producto{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.imagen {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.pedido{
    display: inline-block;
    vertical-align: middle;    
    text-align: center;
    margin: 0 10px;
    
}

.pedido button{
    font-weight: 900;
    color: white;
    background: #76b227;
}

.nombre{
    display: inline-block;
    vertical-align: middle;    
    text-align: center;
    margin: 0 10px;
}

.nombre p{
    font-weight: bold;
    color: black;
}






/*Titulos parrafos*/
h1.title{
    font-weight: 900;
    text-align: center;    
}

.categoria p{
    font-weight: 900;
    color: white;    
    font-size: 30px;
}

.titulo label{
    color: white;
    font-weight: 700;    

}



/*Img*/
.imagen img{
    width: 250px;
    height: 250px;
}

.pedidos img{
    width: 300px;
    height: 300px;
    margin: 10px -5px 20px -5px;
}
