body{
    background-color: #e6e6e6;
    
}

header{
    background:#875bdb;
    width: 100%;
    height: auto;
}

nav{
    margin: 1% 0;
    text-align: center;
    vertical-align: middle;    
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 25px 25px 25px 25px;
 
}

nav form{
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin-top: -3px;
}


/*Divs */
.padre{
    text-align: center;    
}
.divs{
    display: inline-block; 
    box-shadow: 2px 2px 10px #666;        /* Sombra normal */    

}

#izquierda{
    width: 30%;
    height:auto!important;
    border-radius: 5px;
    margin: 30px 45px 45px 0px;
    background:  #ffffff;
    vertical-align: top;
}
#derecha{
    width: 30%;    
    height:auto!important;
    border-radius: 5px;
    margin: 30px 0px 45px 45px;
    background:  #fff;
    vertical-align: top;
    
}

.inputs{
    margin: 0px 20px 0px 20px;
}

.inputs p{
    text-align: left;
}

.form-group{
    margin-top: 3%;
}

.boton-login{
    margin-right: 35px;
}
.form-div{
    margin-top: 20px;
}

.navegacion{
    display: inline-block;
    vertical-align: middle;
    background: linear-gradient(to right,#00e4d7, #3babe6, #875bdb);
    width: 100%;    
    height: auto;
}


.navegacion img{
    display: inline-block;        
    width: 100px;
    height: 100px;
}

.imagenes img{
    width: 350px;
}

.imagenes{
    display: inline-block;
    vertical-align: middle;
}

.input-group-btn{
    width: auto!important;    
    height: 30px!important;
    border: 5px!important;    
    vertical-align: middle!important;
    display: inline-block!important;
    margin-top: 10px!important;
}

.opciones{          
    z-index: 999;
    display: inline-block;
    vertical-align: right;
    text-align: center;
    width: 75%;
    right: 10px;
    height: auto!important;
}


#vender{
    border-radius: 10px;
    background-color: #e25051;
    color: #ffffff;    
    font-weight: 900;    
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
}

#repartir{
    display: inline-block;
    border-radius: 10px;
    background-color: #00e4d7;
    color: white;
    font-weight: 900;
    padding: 5px 5px;
    text-align: center;
}



#comprar{
    display: inline-block;
    border-radius: 10px;
    background-color: #76b227;
    color: #ffffff;
    font-weight: 900;
    padding: 5px 5px;
    text-align: center;
}

#close_session{
    vertical-align: middle;
    display: inline-block;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-weight: bold;
}

#buscar{
    padding: 3px 12px!important;
    background: transparent!important;
    border-color: white!important;
}
/*--------------------------------*/



/*Parrafos y titulos*/


p.a{
    margin-left: 10px;    
    text-align: left;
    color: green;
}

p.informacion{
    color: white;    
    font-weight: bold;
    font-size: 22px;
}

p.informacion1{
    color: white;    
    font-weight: bold;
    font-size: 22px;
}

p.lineas{
    color: #76b227;    
}

p.lineas1{
    color: #76b227;    
}

p.contacto{
    color: white;     
    width: 100%;
    font-size: 15px;
}

h1.negrita{
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

h1.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
/*--------------------------------*/




/* Css Footer*/
.father{  
    background-color: #808080;
    width: 100%;    
    height: auto;            
    text-align: center;    
    padding: 20px 0 20px 0;    
}



.redes{    
    display: inline-block;
    text-align: left;
    font-weight: bold;          
    width: 25%;
    height: auto;
    vertical-align: top;
    margin: 0 5%;
}

.adicional{    
    display: inline-block;
    text-align: left;
    font-weight: bold;          
    width: 25%;
    height: auto;
    vertical-align: top;
    margin-right: 400px;
}

.contacto{
    display: inline-block;
    text-align: left;
    width: 25%;
    height: auto;       
    vertical-align: top;         
}

.contacto1{
    display: inline-block;
    text-align: left;
    width: 25%;
    height: auto;       
    vertical-align: top;         
}

.contacto2{
    display: inline-block;
    text-align: left;
    width: 100%;
    height: auto;       
    vertical-align: top;   
    color: white;    
    font-weight: bold;
    font-size: 15px;      
}

.msg img{
    margin-left: 1200px;
    margin-top: 0px;
}


/*--------------------------------*/
/*busqueda*/
.busqueda input{
    background: rgba(0, 0, 0, 0);
    border-color: #ffffff;
    width: auto;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    color: #ffffff;   
    margin-top: 10px;
    margin-left: 300px;
}

::placeholder{
    color: #ffffff;
}

/*responsivo*/
@media screen and (max-width: 600px) {

    
    
    .father{  
        width: 100%;  
    }
    
    .redes{    
        width: 1%;
        margin-left: 0px;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .contacto{
        text-align: center;    
        margin-top: 100px;
        margin-right: 400px;            


    }

    .contacto1{    
        text-align: center;
        margin-right: 400px;            
    }

    .msg img{
        margin-left: 0px;
        width: 50px;
    }

    .fb img{
        margin-top: 60px;
        width: 35px;
        margin-left:  15px;
    }

    .wa img{
        width: 35px;
        margin-top: 60px;
        margin-left:  15px;

    }

    .tw img{
        width: 35px;
        margin-top: 60px;
        margin-left:  15px;

    }

    .ig img{
        width: 35px;
        margin-top: 60px;
        margin-left:  15px;

    }

    p.lineas1{
        font-size:1px;
        color: #808080;;
    }

    .adicionales{
        margin-left: 90%;
    }

    p.informacion{
        margin-left: 20px;
        margin-top: 60px;
    }

    p.informacion1{
        margin-left: 130px;
        text-align: center;
    }

    p.lineas{
        margin-left: 25px;
        text-align: center;
    }
    
    .contacto2{
        margin-left:135px;
        font-size: 13px;
        text-align: center;
    }

    /*heather*/

    .navegacion{
        width: 100%;
    }
    
    #derecha{
        width: 95%;
        margin-left: -5px;
    }

    #izquierda{
        width: 95%;
        margin-left: 5px;
    }
    
    .opciones{
        width: 360px;
    }
    
    nav a{
        color: white;
        font-weight: bold;
        margin: 5px 40px 5px 40px;
    }

    #comprar{
        margin: 5px 5px 5px 5px;
    }

    #vender{
        margin: 5px 5px 5px 5px;
    }

    #repartir{
        margin: 5px 5px 5px 5px; 
    }

    .busqueda input{
        
        height: 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .navegacion img{
        margin-left: 5px;
    }
    
}

@media screen and (min-width: 1280px) {

    .navegacion{
        width: 100%;
    }
    
    .opciones{
        display: inline-block;
        vertical-align: middle;
        right: 10%;
        width: 750px;
    }
    
    nav a{
        color: white;
        font-weight: bold;
        font-size: 15px;
        margin: 5px 40px 5px 40px;
    }

    #comprar{
        margin: 5px 5px 5px 5px;
    }

    #vender{
        margin: 5px 5px 5px 5px;
    }

    #repartir{
        margin: 5px 5px 5px 5px; 
    }

    .busqueda input{
        
        height: 30px;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 30px;
    }
    
    .navegacion img{
        margin-left: 5px;
    }
}