body{
    background-color: #f5f5f5;
}




/*Divs */
.padre{
    text-align: center;    
}
.divs{
    display: inline-block; 
    box-shadow: 2px 2px 10px #666;        /* Sombra normal */    

}
#izquierda{
    width: 30%;
    height:auto!important;
    border-radius: 5px;
    margin: 30px 45px 45px 0px;
    background:  #ffffff;
    vertical-align: middle;
}
#derecha{
    width: 30%;    
    height:auto!important;
    border-radius: 5px;
    margin: 30px 0px 45px 45px;
    background:  #fff;
    vertical-align: middle;
    
}
.inputs{
    margin: 0px 20px 0px 20px;
}

.input-derecha{
    margin: 22px 20px 0px 20px;
}

.form-group{
    margin-top: 3%;
}

.boton-login{
    margin-right: 35px;
}
.form-div{
    margin-top: 20px;
}

/*--------------------------------*/



/*Parrafos y titulos*/
p.a{
    margin-left: 10px;    
    text-align: left;
    color: green;
}

p.informacion{
    color: white;    
    font-weight: bold;
    font-size: 10px;
}
p.lineas{
    color: #76b227;    
}
p.contacto{
    color: white;     
    width: 100%;
    font-size: 10px;
}

h1.negrita{
    font-weight: bold;
}

h1.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
/*--------------------------------*/




/* Css Footer*/
.father{  
    background-color: #083141;
    width: 100%;
    height: auto;            
    text-align: center;    
    padding: 20px 0 20px 0;
    
}

.hidalgo{       
    width: 24%;
    display: inline-block;  
    vertical-align: middle;

}

.redes{    
    display: inline-block;
    text-align: left;
    font-weight: bolder;      
    flex-direction: column;
    width: 25%;
    height: auto;
    vertical-align: top;
}

.escudo{
    display: inline-block;
    text-align: left;  
    width: 25%;
    height: auto;        
    justify-content: center;  
    vertical-align: top;  
}

.escudo img{
    width: 40%;
}

.contacto{
    display: inline-block;
    text-align: left;
    width: 25%;
    height: auto;       
    vertical-align: top;         
}
/*--------------------------------*/