body{
    background-color: #f5f5f5;
}

.padre{
    text-align: center;    
}
.divs{
    display: inline-block; 
    box-shadow: 2px 2px 10px #666;        /* Sombra normal */    

}
#izquierda{
    width: 30%;
    height:auto!important;
    border-radius: 5px;
    margin: 30px 45px 45px 0px;
    background:  #ffffff;
    vertical-align: middle;
}
#derecha{
    width: 30%;    
    height:auto!important;
    border-radius: 5px;
    margin: 30px 0px 45px 45px;
    background:  #fff;
    vertical-align: middle;
    
}
.inputs{
    margin: 0px 20px 0px 20px;
}

.input-derecha{
    margin: 22px 20px 0px 20px;
}

.form-group{
    margin-top: 3%;
}

.boton-login{
    margin-right: 35px;
}
.form-div{
    margin-top: 20px;
}

p.a{
    margin-left: 20px;    
    text-align: left;
    color: green;
}

p.informacion{
    color: white;    
    font-weight: bold;
    font-size: 20px;
}
p.lineas{
    color: #76b227;
}

h1.negrita{
    font-weight: bold;
}

h1.titulo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

Footer {
    background-color: #083141;
    width: 100%;    
    height: auto;

}

.redes{
    font-weight: bolder;  
    margin: -15% 0 0 400px;
}



/* Css Imagenes*/
.hidalgo{
    width: 200px;
    height: 200px;
    margin: 80px 0px 0px 100px;
}

.escudo{
    display:flex;
    margin:auto;
    width: 200px;
    height: 200px;
    margin-top: -150px;
 
}